@import "./colors.css";

@font-face {
	font-family: "geist";
	src: url("../assets/fonts/geist.woff2") format("woff2");
	font-weight: 100 900;
}

@font-face {
	font-family: "geist-mono";
	src: url("../assets/fonts/geist-mono.woff2") format("woff2");
	font-weight: 100 900;
}

* {
	margin: 0;
	outline: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--d1-bg-color);
}

a {
	color: inherit;
	text-decoration: none;
	display: flex;
}

button {
	background-color: inherit;
}

p {
	font-family: geist;
	font-size: 16px;
	line-height: 1.75rem;
	font-weight: 500;
	color: var(--l1-text-color);
}

.border {
	border: 1px solid hsl(var(--border-color));
}

.border-thick {
	border: 2px solid hsl(240 3.7% 15.9%);
}
